h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin:10px;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
#display_name_with_commas{
    background-color:aquamarine;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}
#display_name_without_commas{
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}